Long messages are simply not sent, instead of being truncated or split

For instance:

"Currently live & upcoming streams: V_Nome Stream ( http://www.twitch.tv/v_nome ) at Sun 11:00 AM PDT (3 hours ago), KinoGaming with KinoGami ( www.twitch.tv/KinoGami ) at Sun 12:00 PM PDT (2 hours ago), Culture Clash Podcast ft. Lambmower, CantWearHats & HPBraincase ( www.twitch.tv/cantwearhats ) at Sun 12:00 PM PDT (2 hours ago), UPickVG [After Hours] Rehearsal ( www.twitch.tv/upickvg ) at Sun 01:00 PM PDT (an hour ago), HPBraincase - Solo Stream ( www.twitch.tv/hpbraincase ) at Sun 03:00 PM PDT (in an hour)"

This appears to be too long to send. The node.js module "irc" would split that message and send it as two, but it seems that tmi.js is just dropping the message without error. Some kind of splitting and repeating option would be very nice for this kind of thing.

For reference, [RFC 2812 section 2.3](https://tools.ietf.org/html/rfc2812#section-2.3) says 

> IRC messages are always lines of characters terminated with a CR-LF
   (Carriage Return - Line Feed) pair, and these messages SHALL NOT
   exceed 512 characters in length, counting all characters including
   the trailing CR-LF. Thus, there are 510 characters maximum allowed
   for the command and its parameters.  There is no provision for
   continuation of message lines.  See section 6 for more details about
   current implementations.

The message you provided is 514 characters, not include the terminating
CRLF.

Joseph Cellucci
Software Developer
ITA Group
celluj34@gmail.com

On Sun, Oct 11, 2015 at 5:10 PM, Jacob Foster <notifications@github.com>
wrote:

> For reference, RFC 2812 section 2.3
> <https://tools.ietf.org/html/rfc2812#section-2.3> says
>
> IRC messages are always lines of characters terminated with a CR-LF
> (Carriage Return - Line Feed) pair, and these messages SHALL NOT
> exceed 512 characters in length, counting all characters including
> the trailing CR-LF. Thus, there are 510 characters maximum allowed
> for the command and its parameters. There is no provision for
> continuation of message lines. See section 6 for more details about
> current implementations.
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/Schmoopiie/tmi.js/issues/61#issuecomment-147250646>.
>


Again, I am aware that the line is too long. What I am asking for is an automatic truncation (or even better, splitting and sending 2 messages). Or at least some kind of warning that the line is too long, rather than just eating it and doing nothing.

Will be available when 0.0.24 is released. Make sure you have Node 4.x to run 0.0.24 as we are now supporting [ES6 features](https://nodejs.org/en/docs/es6/).

Thank you!